:root {
    font-family: monospace, Arial, Helvetica, sans-serif;
}


#calc {
    background: lightgray;
    height: 650px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    gap: 5px;
}

#screenBorder {
    background: darkgray;
    height: 250px;
    width: 400px;
}

#calcButtons {
    background: darkgray;
    height: 400px;
    width: 400px;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 75px);
    gap: 5px;
    border: 5px;
}

button {
    font-size: 1.2rem;
}

#screen {
    font-size: 2.5rem;
}

button {
    height: 75px;
    width: 85px;
    padding: 0;
}

#plus {
    height: 155px;

}

.red {
    background: #ff8c00;
}